<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Todas las ciudades!" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Cerca de ti" tabIcon="navigate"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Acerca de" tabIcon="contacts"></ion-tab>
</ion-tabs>
