<!--
  Generated template for the Networkdetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <ion-navbar>
    <ion-title>{{city}}</ion-title>
  </ion-navbar>

  <ion-header>
    <ion-navbar>
      <ion-title>{{city}}</ion-title>

    </ion-navbar>
  </ion-header>

<ion-content >
  <!-- <ion-list>
     <ion-item *ngFor="let bikestation of bikestations">
       <h2>{{bikestation.name}}</h2>
       <span>Lugares ocupados: {{bikestation.empty_slots}}</span>
       <span>Lugares libres: {{bikestation.free_bikes}}</span>
       <span> Posicion: Latitud -> {{bikestation.latitude}} Longitud -> {{bikestation.longitude}}</span>
       <ion-icon name="ion-android-bicycle" item-right></ion-icon>
   </ion-item>
 </ion-list> -->
 <div #map id="map"></div>

</ion-content>
