<ion-header>
  <ion-navbar>
    <ion-title>
      Contactanos !
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Hecho con  <ion-icon name="heart"></ion-icon> en Pyxis Portal ! </ion-list-header>

  </ion-list>
</ion-content>
