<ion-header>
  <ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)" [debounce]="500" placeholder="Busca por ciudad..."></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content (click)="focusOut()" padding>
  <div *ngIf="searching" class="spinner-container">
         <ion-spinner></ion-spinner>
     </div>

  <ion-list>
     <button ion-item *ngFor="let network of networks" (click)="goToDetails(network.href,network.name,network.location.city,network.location.latitude,network.location.longitude)">
       <img class="flag flag-{{network.location.country  | lowercase}}"/>
       <h2>{{network.name}}</h2>
       <h1>{{network.location.city}}</h1>
     </button>
   </ion-list>
</ion-content>
