page-hello-ionic {

  }
  .ios, .md {

      page-hello-ionic {

        .scroll-content {
          height: 100%
        }

        #map {
          width: 100%;
          height: 100%;
        }

      }

  }
